@use '../variables';

:local {
  .playlistContent {
    margin: 0 auto;
    padding: 15px;

    table {
      border-collapse: collapse;
      margin: 0 auto;
    }

    thead td {
      border-bottom: 1px solid white;
      border-left: 1px solid white;

      &:first-child {
        border-left: none;
      }
    }

    tr:nth-child(even) {
      background-color: variables.$background-color-light;
      border-collapse: collapse;
    }

    td {
      padding: 1px 5px;
    }
  }

  .dragGhost {
    border: 1px dotted variables.$text-color;
    border-collapse: collapse;

    td {
      border-top: 1px dotted variables.$text-color;
      border-bottom: 1px dotted variables.$text-color;
      padding: 0;

      &:first-child {
        border-left: 1px dotted variables.$text-color;
      }

      &:last-child {
        border-right: 1px dotted variables.$text-color;
      }
    }
  }

  .hideMobile {
    @include variables.for-phone {
      display: none;
    }
  }
}
