@use '../variables';

:local {
  .playlistContent {
    margin: 0 auto;

    thead td {
      border-bottom: 1px solid white;
    }

    td {
      padding-left: 5px;
    }
  }

  .dragGhost {
    border: 1px dotted variables.$text-color;
    border-collapse: collapse;

    td {
      border-top: 1px dotted variables.$text-color;
      border-bottom: 1px dotted variables.$text-color;
      padding: 0;

      &:first-child {
        border-left: 1px dotted variables.$text-color;
      }

      &:last-child {
        border-right: 1px dotted variables.$text-color;
      }
    }
  }
}
