@use '../variables';

:local {
  .dropdown {
    display: inline-block;
    position: relative;

    .dropdownContent {
      background: variables.$background-color;
      box-shadow: 2px 2px 3px 0px #999999;
      position: absolute;
      left: 0;
    }
  }
}
