@use 'variables';

body {
  background-color: variables.$background-color;
  color: variables.$text-color;
}

a {
  color: #2994FF;

  &:visited {
    color: #C775DB
  }
}

:local {
  .App {
    text-align: center;
  }

  .topNavContainer {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topNav {
    display: inline-block;
    margin-right: 15px;
  }

  .navMargin {
    margin-right: 15px;
  }

  .spotifyLogo {
    width: 100px;
  }

  .bottomNav {
    margin: 15px 0px;
    > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}
