@use 'variables';

body {
  background-color: variables.$background-color;
  color: variables.$text-color;
}

a {
  color: #2994FF;

  &:visited {
    color: #C775DB
  }
}

:local {
  .App {
    text-align: center;
  }
}
